:root {
    --black: #16181E;
    --blue: #1928F0;
    --dark: #525981;
    --gray: #F6F6F6; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    position: relative;
}


.trans-btn {
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 14px 20px;
    display: block;
    box-sizing: border-box;
    width: fit-content;
    text-decoration: none;
    border-radius: 32px;
}

.main-btn {
    display: block;
    background-color: var(--blue);
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 28px;
    border-radius: 32px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;

    svg {
        display: block;
        margin-left: 10px;
    }

    &.dark {
        background: linear-gradient(270deg, #2B3249 0%, #3D4367 100%),
            linear-gradient(0deg, #374365, #374365);

            color: #fff;
    }
}

.burger-btn {
    display: none;
    @media(max-width:767px) {
        display: block;
    }

    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    span {
        position: absolute;
        left: 2px;
        background-color: var(--black);
        height: 2px;
        top: calc(50% - 1px);
        width: calc(100% - 4px);
    }
    &::before {
        content: '';
        position: absolute;
        left: 2px;
        top: 4px;
        background-color: var(--black);
        height: 2px;
        width: calc(100% - 4px);
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 2px;
        background-color: var(--black);
        height: 2px;
        width: calc(100% - 4px);
    }
}

.section-title {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 0;
    color: var(--black);
    margin: 0 auto;
    max-width: 910px;
    @media(max-width:767px) {
        font-size: 24px;
    }
}