.container {}

.breaker {
    padding: 80px 0;
    box-sizing: border-box;
    display: block;


    // .breaker__body

    &__body {
        display: flex;
        align-items: center;
        padding: 40px;
        border-radius: 32px;
        background-color: #f6f6f6;
        gap: 36px;
    }

    // .breaker__text

    &__text {
        width: 50%;
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.4;
            color: var(--black);
            margin: 0;
            display: block;
            margin-bottom: 4px;
            max-width: 463px;
        }
        span {
            display: block;
            font-size: 16px;
            color: var(--black);
            margin-bottom: 20px;
            
        }
        p {
            b {
                display: block;
                color: #000;
                font-weight: 500;
                margin-bottom: 4px;
            }
            color: var(--black);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
            margin-bottom: 20px;
          
        }
    }

    // .breaker__img

    &__img {
        width: 50%;
        display: block;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}