.container {}

.breaker {
    padding: 80px 0;
    box-sizing: border-box;
    display: block;


    // .breaker__body

    &__body {
        display: flex;
        align-items: center;
        padding: 40px;
        border-radius: 32px;
        background-color: #f6f6f6;
        gap: 36px;
    }

    // .breaker__text

    &__text {
        width: 50%;
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.4;
            color: var(--black);
            margin: 0;
            display: block;
            margin-bottom: 4px;
            max-width: 463px;
        }
        span {
            display: block;
            font-size: 16px;
            color: #2F333F;
            margin-bottom: 20px;
            
        }
        p {
            b {
                display: block;
                color: #000;
                font-weight: 500;
                margin-bottom: 4px;
            }
            color: #2F333F;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
            margin-bottom: 20px;
          
        }
        .main-btn {
            background-color: #374365;
            transition: .35s ease;
            &:hover {
                background-color: var(--dark);
            }
        }
    }

    // .breaker__img

    &__img {
        width: 50%;
        min-width: 446px;
        display: block;
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        img {
            box-sizing: border-box;
            width: 50%;
            object-fit: contain;
            max-width: 200px;
        }
    }
}

@media(max-width:768px) {
    .breaker {
        padding: 32px 0;
        &__body {
            flex-direction: column;
        }
        &__text {
            width: 100%;
        }
        &__img {
            width: 100%;
            min-width: 0;
            max-width: none;
            justify-content: space-between;
            margin-bottom: 20px;
            img {
                width: calc(50% - 15px);
                max-width: none;
                min-width: none;
            }
        }

    }
}

@media(max-width:767px) {
    .breaker {
       &__body {
        margin: 0 -15px;
       }
    }
}

@media(max-width:560px) {
    .breaker {
        &__body {
            padding: 32px 16px;
            position: relative;
            padding-bottom: 96px;
        }
        &__text {
            h2 {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
            p {
                font-size: 16px;
                b {

                }
            }
            a {
                position: absolute;
                left: 16px;
                bottom: 32px;
                height: fit-content;
                box-sizing: border-box;
            }
        }
    }
}