.cases {
    padding: 80px 0 160px;
    box-sizing: border-box;
    // .cases__title

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
        justify-content: space-between;

        h2 {
            margin: 0;
            display: block;
            color: var(--black);
            line-height: 1.4;
            font-size: 40px;
        }

        a {
            display: block;
            background-color: #374365;
            color: #fff;
            border-radius: 16px;
            padding: 24px 36px;
            width: fit-content;
            text-decoration: none;
            transition: .35s ease;

            &:hover {
                background-color: var(--dark);
            }
        }
    }

    // .cases__items

    &__items {
        .swiper-wrapper {
            align-items: stretch;
        }
    }

    // .cases__slide

    &__slide {
        display: flex;
        flex-direction: column;
        height: auto;
        text-decoration: none;
        color: var(--black);
        overflow: hidden;
        border-radius: 24px 24px 0 0;

        .img {
            padding: 20px;
            box-sizing: border-box;
            height: 280px;
            background-color: var(--gray);
            overflow: hidden;
            display: block;
            margin-bottom: 20px;
            border-radius: 16px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                box-sizing: border-box;
                object-fit: contain;
            }
        }

        .text {
            h3 {
                margin: 0;
                display: block;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 4px;
            }

            p {
                margin: 0;
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: #2F333F;
                margin-bottom: 12px;
            }
        }

        .fake-btn {
            display: block;
            text-decoration: none;
            width: fit-content;
            padding: 16px 24px;
            box-sizing: border-box;
            font-size: 16px;
            color: var(--black);
            border: 1px solid var(--black);
            border-radius: 40px;
            display: flex;
            align-items: center;
            transition: .35s ease;

            &.blue {
                border-color: var(--blue);
                color: var(--blue);
            }

            svg {
                display: block;
                margin-left: 10px;
                transition: .35s ease;
            }

            &:hover {
                background-color: #fafafa;

                svg {
                    transform: translateX(5px);
                }
            }
        }

    }
}

.cases {

    // .services__navigation
    .container {
        position: relative;
    }

    &__nav {
        position: absolute;
        left: -45px;
        top: calc(50% - 80px);
        width: calc(100% + 90px);
        justify-content: space-between;
        display: flex;
        align-items: center;

        .cases-btn {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: var(--gray);
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .35s ease;

            svg {
                display: block;

            }

            &.swiper-button-disabled {
                opacity: .5;
            }
        }


        .cases-btn-next {
            svg {
                transform: rotate(180deg) translateX(-2px);

            }
        }

        .cases-btn-prev {
            svg {
                transform: translateX(-2px);
            }
        }
    }
}



@media(max-width:1280px) {
    .cases {
        &__nav {
            display: none;
        }
    }
}

@media(max-width:920px) {
    .cases {
        padding: 80px 0;

        &__title {}

        &__slide {
            .img {
                border-radius: 16px;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

    }
}

@media(max-width:767px) {
    .cases {
        padding: 50px 0;

        .container {
            position: relative;
            padding-bottom: 85px;
        }

        &__slide {
            .img {
                height: 240px;
            }

            .text {
                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }

                .fake-btn {
                    font-size: 14px;
                    padding: 14px 20px;

                }
            }
        }

        &__title {
            h2 {
                text-align: center;
                margin: 0;
                display: block;
                width: 100%;
                font-size: 24px;
            }

            a {
                position: absolute;
                width: calc(100% - 30px);
                left: 15px;
                bottom: 0;
                box-sizing: border-box;
                text-align: center;
            }
        }
    }
}