.faq {
    padding: 80px 0;
    box-sizing: border-box;
    // .faq__title

    &__title {
        margin-bottom: 40px;
        h2 {
            font-weight: 700;
            font-size: 40px;
            margin: 0;
            display: block;
            color: var(--black);
            text-align: center;
        }
    }

    // .faq__items

    &__items {

        border-top: 1px solid #c0c8d2;
        max-width: 960px;
        margin: 0 auto;
    }

    // .faq__item

    &__item {
        box-sizing: border-box;
        border-bottom: 1px solid #c0c8d2;
        transition: .35s ease;
        &.active {
            padding-bottom: 20px;
            button {
                &::before {
                    transform: rotate(45deg);
                }
            }
            .text {
                opacity: 1;
            }
        }
        button {
            display: block;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: none;
            padding: 24px 4px;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 500;
            color: var(--black);
            position: relative;
            cursor: pointer;
            &::before {
                content: '+';
                position: absolute;
                transition: .35s ease;
                right: 0;
                top: calc(50% - 20px);
                font-weight: 300;
                font-size: 32px;
                font-family: serif;
            }
        }
        .text {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: .35s ease;
            p {
                margin: 0;
                display: block;
                text-align: left;
                padding: 0 10px 0 4px;
                color: var(--black);
            }
        }
    }
}
