.header {
    margin-top: 60px;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;

    z-index: 2;
    position: relative;

    // .header__body
    &.custom {
        .trans-btn {
            color: #fff;
            border-color: #fff;
        }

        .header__body {
            max-width: 1340px;
        }
    }

    &__body {

        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 1190px;
        width: 100%;
        padding: 0 15px;
    }

    // .header__title

    &__title {
        margin-right: 50px;

        a {
            display: flex;
            align-items: center;
            color: var(--black);
            text-decoration: none;
            font-weight: 500;
            color: #374365;
            font-size: 22px;

            svg {
                margin-right: 5px;
            }
        }
    }

    // .header__nav

    &__nav {
        margin-right: auto;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 24px;
            list-style: none;

            li {
                a {
                    display: block;
                    color: inherit;
                    text-decoration: none;
                    transition: .35s ease;

                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        }
    }

    // .header__action

    &__action {

        a,
        button {
            transition: .35s ease;
            font-size: 14px;
            &.trans-btn {
                &:hover {
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: #374365;
                }
            }
            &.trans-btn.blue {
                border-color: var(--blue);
                color: var(--blue);
            }

        }
    }
}



@media(max-width:1440px) {
    .header {
        &__body {
            padding: 0;
        }

        padding: 0 50px;
    }
}

@media(max-width:1200px) {
    .header {
        &__title {
            margin-right: 20px;
        }

        &.custom {
            .trans-btn {
                border-color: var(--black);
                color: var(--black);
            }

            .header {
                &__nav {
                    ul {
                        gap: 20px;
                    }
                }

                &__title {
                    a {
                        svg {
                        }

                        font-size: 18px;
                    }
                }
            }
        }

    }
}

@media(max-width:920px) {
    .header {
        padding: 0 40px;
        &.custom {
            .header {
                &__title {
                    a {
                        max-width: 220px;
                        svg{

                        }
                    }
                }
            }
        }
    }
}

@media(max-width:767px) {
    .header {
        margin-top: 40px;
        padding: 0 20px;

        &__nav {
            display: none;
        }

        &__title {
            margin-right: auto;
        }

        &__action {
            a {
                display: none;
            }

            button {}
        }
    }
}