.how {
    background: #1928F0;
    color: #fff;
    border-radius: 32px 32px 0 0;
    box-sizing: border-box;
    // .how__title
    padding: 80px 0 120px;

    &.custom {
        background: linear-gradient(270deg, #2B3249 0%, #3D4367 100%);

        .how {
            &__items {
                flex-wrap: wrap;
            }

            &__item {
                width: calc(33.33% - 24px);

                .num {
                    &::after {
                        background-size: 100% 50%;
                        width: calc(100% - 90px);
                    }
                }

                &:nth-child(3n + 3) {
                    .num {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__title {
        margin-bottom: 60px;

        h3 {
            font-size: 40px;
            margin: 0;
            font-weight: 700;
            text-align: center;
            display: block;
        }
    }

    // .how__items

    &__items {
        display: flex;
        align-items: stretch;
        gap: 24px;

    }

    // .how__item

    &__item {
        .num {
            font-size: 60px;
            color: #fff;
            opacity: .8;
            position: relative;
            font-weight: 700;
            margin-bottom: 20px;

            &.active {
                transition: .35s ease;
                color: #FFA17C;
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: calc(50% - 5px);
                height: 10px;
                width: calc(100% - 70px);
                background-image: url(../../assets/imgs/vector.png);
                background-repeat: no-repeat;
                background-position: center right;
            }
        }

        .text {
            opacity: .9;
            h3 {
                font-size: 22px;
                font-weight: 600;
                margin: 0;
                display: block;
                box-sizing: border-box;
                margin-bottom: 15px;
            }

            p {
                margin: 0;
                line-height: 1.5;
                font-size: 16px;

            }
        }
    }
}



@media(max-width:920px) {
    .how {
        &.custom {
            .how {
                &__items {}

                &__item {
                    width: calc(50% - 24px);

                    &::before {
                        display: block;

                    }

                    &:nth-child(2n + 2) {
                        .num {
                            &::after {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(2n + 1) {
                        .num {
                            &::after {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:767px) {
    .how {  
        padding: 40px 0;
        
        &.custom {
            
            .how {
                &__title {
                    margin-bottom: 24px;
                    h3 {
                        font-size: 24px;
                    }
                }
                
                &__items {}

                &__item {
                    width: 100%;

                    .num {
                        font-size: 48px;
                        &:nth-child(2n + 1) {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    .text {
                        h3 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }

                    
                }
            }
        }
    }
}