.platf2 {
    padding: 140px 0 80px;
    box-sizing: border-box;
    // .platf2__plan

    &__plan {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: 140px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            z-index: -1;
            top: 0;
            width: 100%;
            height: calc(100% + 60px);
            background-size: 90% 100%;
            background-image: url(../../assets/imgs/line.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 25px;
            
        }
    }

    // .platf2__item

    &__item {
        width:  50%;
        padding: 16px 20px;
        background-color: #F6F6F6;
        border-radius: 12px;
        &:nth-child(1) {
            margin-left: 24px;
            width: calc(50% - 24px);
            max-width: 560px;
        }
        &:nth-child(2) {
            max-width: 410px;
            margin-left: auto;
            transform: translateY(60px);
        }
        &:nth-child(3) {
            max-width: 430px;
            width: 50%;
            box-sizing: border-box;
            margin-left: 100px;
            margin-top: 80px;
        }
        &:nth-child(4) {
            max-width: 420px;
            width: 50%;
            margin: 0 auto;
            transform: translateY(60px);
        }
        .icon {
            width: 48px;
            height: 48px;
            background-color: #fff;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            svg {
                display: block;
            }
        }

        .text {
            p {
                margin: 0;
                display: block;
                color: var(--black);
                font-weight: 600;
                margin-bottom: 8px;
                font-size: 20px;
            }
            span {
                display: block;
                font-size: 18px;
                color: var(--black);
                font-weight: 400;
            }
        }

    }

    &__title {
        margin-bottom: 60px; 
    }

    // .platf__final

    &__final {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 1120px;
        width: 100%;
        display: flex;
        text-align: center;
        border: 1px solid #950F0F;
        padding: 20px;
        justify-content: center;
        color: #950F0F;
        border-radius: 16px;
        font-size: 24px;
        @media(max-width:767px) {
            font-size: 20px;
        }
    }
}

@media(max-width:1200px) {
    .platf2 {
        &__plan {
            flex-direction: column;
            align-items: flex-start;
            &::before {
                background-image: url(../../assets/imgs/line2.png);
                background-size: 100% 90%;
                height: 100%;
            }
            margin-bottom: 40px;
        }
        &__item {
            box-sizing: border-box;
            &:nth-child(n) {
                transform: none;
            }
            &:nth-child(1) {
                margin-right: 0;
                margin-left: 24px;
                margin-bottom: 24px;
                width: 100%;
            }
            &:nth-child(2) {
                margin-left: auto;
                margin-right: 24px;
                width: 100%;
                max-width: 420px;
                margin-bottom: 24px;
            }
            &:nth-child(3) {
                margin-top: 0;
                margin-left: 60px;
                margin-right: 0;
                margin-bottom: 24px;
            }
            &:nth-child(4) {
                max-width: 420px;
                width: 100%;
                box-sizing: border-box;
                margin-left: auto;
                margin-right: 40px;
            }
        }
    }
}

@media(max-width:640px) {
    .platf2 {
        &__title {
            margin-bottom: 24px;
        }
        &__plan {
            &::before {
                display: none;
            }

        }
        &__item {
            width: 100% !important;
            box-sizing: border-box;
            max-width: none !important;
            margin: 0 0 16px !important;
            .text {
                p {
                    font-size: 18px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
    }
}