.serv4 {
    padding: 80px 0;
    // .serv4__title

    &__title {
        margin-bottom: 40px;

        h2 {
            text-align: center;
            margin: 0;
            display: block;
            font-size: 40px;
            color: var(--black);
        }
    }

    // .serv4__items

    &__items {
        display: flex;
        align-items: stretch;
        gap: 24px;
    }

    // .serv4__item

    &__item {
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(33.33%);
        border-radius: 24px;
        overflow: hidden;
        background-size: auto 70%;
        background-repeat: no-repeat;
        background-position: top center;

        &:nth-child(1) {
            background-image: url(../../assets/imgs/serv3-0.png);
        }

        &:nth-child(2) {
            background-image: url(../../assets/imgs/serv3-1.png);

        }

        &:nth-child(3) {
            background-image: url(../../assets/imgs/serv3-2.png);

        }

        .text {
            background: linear-gradient(270deg, #2B3249 0%, #3D4367 100%);
            padding: 20px;
            box-sizing: border-box;
            color: #fff;

            h3 {
                margin: 0;
                font-size: 24px;
                font-weight: 600;
                display: block;
                margin-bottom: 10px;
            }

            p {
                margin: 0;
                display: block;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
    &.custom {
        .serv4__item {
            min-height: 460px;
            background-size: auto 80%;
        }
    }
}

@media(max-width:920px) {
    .serv4{ 
        &__items {
            gap: 20px;
        }
        &__item {
            min-height: 560px;
            .text{
                padding: 16px 12px;
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width:767px) {
    .serv4 {
        padding: 40px 0;

        &__title {
            h2 {
                font-size: 24px;
                font-weight: 700;
            }
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            width: 100%;
            max-width: none;
            height: auto;
            min-height: 0;
            padding-top: 40vw;
            background-size: 100% auto;
        }
        &.custom {
            .serv4__item {
                min-height: 0;
                padding-top: 0;
                height: 340px;
                background-size: cover;
            }
        }
    }
}

.serv4 {
    
		// .serv4__action

		&__action {
            @media(max-width:767px) {
                display: none;
            }
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: stretch;
            gap: 18px;
            a, button {
                border-radius: 12px;
                padding: 24px 60px;
            }
		}
}
